<form role="form">
    <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" placeholder="Enter Full Name">
    </div>
    <div class="form-group">
        <label>Message</label>
        <textarea class="form-control" ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
